<div class="count mb-3">
  <div>Word Count : {{ word_count }} words</div>
  <div>Character Count : {{ char_count }} characters</div>
</div>

<div>
  <div class="d-flex buttons">
    <div class="left p-1">
      <button
        class="btn border w-100 text-start"
        id="clearallbtn"
        (click)="getId($event)"
      >
        Clear All
      </button>
      <button
        class="btn border w-100 text-start"
        id="whitespacebtn"
        (click)="getId($event)"
      >
        White Space Remove
      </button>
      <button
        class="btn border w-100 text-start"
        id="reverseallbtn"
        (click)="getId($event)"
      >
        Reverse All
      </button>
    </div>
    <div class="right pe-4 ps-1 pb-1 pt-1">
      <button
        class="btn border w-100 text-start"
        id="rspecialcharbtn"
        (click)="getId($event)"
      >
        Remove Special Char
      </button>
      <button
        class="btn border w-100 text-start"
        id="removestylebtn"
        (click)="getId($event)"
      >
        Removing Styling
      </button>
      <button
        class="btn border w-100 text-start"
        id="capitalword"
        (click)="getId($event)"
      >
        Capitalize Word
      </button>
    </div>
  </div>
  <div class="icons border mt-3 icon-bg d-flex">
    <button class="btn border" id="boldbtn" (click)="getId($event)">B</button>
    <button class="btn border" id="italicbtn" (click)="getId($event)">I</button>
    <button class="btn border" id="underlinebtn" (click)="getId($event)">
      U
    </button>

    <button class="btn">
      <input
        type="color"
        id="favcolor"
        name="favcolor"
        value="#ff0000"
        class="border"
        (click)="getId($event)"
      />
    </button>

    <button class="btn border" id="increasesizebtn" (click)="getId($event)">
      +
    </button>

    <button class="btn border" id="decreasesizebtn" (click)="getId($event)">
      -
    </button>
  </div>
</div>
