.header{
    background-color: #C7C8CC;
    font-weight: bold;
}

.bg-color{
    background-color: #C7C8CC;
}

.text-display{
    width: 45%;
    height: 450px;
    margin-left: 40px;
    margin-top: 40px;
}

.formatter{
    width: 45%;
    margin-right: 40px;
    margin-top: 40px;
}