.container {
    background-color: lightgrey;
    padding: 20px;
    height: auto;
    margin-top: 10px;
}

.row {
    background-color: white;
    padding: 20px;
    height: auto;
    margin: 10px;
}
